<h1 style="text-align:center;">About Alpha Blog</h1>
<br />
<p style="text-align:center;">We're pretty cool at making blogs</p>

<footer>
  <center>
  Site Map<br />
  <%= link_to 'Home', root_path %>
  </center>
</footer>