<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://udemy.com">The Complete Ruby On Rails Developer Course</a>
      by <a href="https://www.mashrurhossain.com">Mashrur Hossain</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
        <li>Contact Us</li>
        <li>Careers</li>
      </ul>
    </nav>
  </footer>
</div>